@{
    Layout = "../_layout";
}

@section Auth {
    @{
        if (User.Identity.IsAuthenticated)
        {
            <div>
                <form action="/logout">
                    @User.Identity.Name
                    <button type="submit" class="btn btn-link">Logout</button>
                </form>
            </div>
        }
        else
        {
            <form action="/login">
                <button class="w-80 btn btn-lg btn-light" type="submit">Sign in</button>
            </form>
            <form action="/register">
                <button class="w-80 btn btn-lg btn-primary" type="submit">Sign up</button>
            </form>
        }
    }
}

<form action="/">
    <button type="submit" class="btn btn-success">Home</button>
</form>

<div>
    <label>Stickers:</label><br />
    <form method="post">
        <p><input name="boardModel.AccessType" type="radio" value="Public" checked onclick="select_users_access(this);">Для всех</p><br/>
        <p><input name="boardModel.AccessType" type="radio" value="Private" id="privateRB" onclick="select_users_access(this);">Только для некоторых</p><br/>

        <div>
            <button type="button" id="add_input" class="btn btn-primary btn-lg active" onclick="add_text_sticker();">Добавить стикер</button>
        </div>

        <div>
            <button type="button" id="add_table" class="btn btn-primary btn-lg active" onclick="add_table_sticker();">Добавить расписание</button>
        </div>

        <div class="mp-2">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
    <script src="~/js/CreateBoard.js"></script>
</div>