@{
    Layout = "_layout";
}


<div>
     <form method="post">
         <label>Id:</label><br />
         <div class="w-25 p-3">
             <input  class="form-control" type="number" name="id" /><br /><br />
         </div>
         <label>StickerText:</label><br />
         <div class="w-25 p-3">
             
             <div class="form-group">
                 <textarea class="form-control" name="stickerText" rows="3"></textarea>
             </div>
         </div>
         
         <input type="submit" value="Отправить" />
     </form> 
</div>