@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
     <form method="post">
         <label>Id:</label><br />
         <input type="number" name="id" /><br /><br />
         <label>StickerText:</label><br />
         <div class="form-group">
             <textarea class="form-control" name="stickerText" rows="3"></textarea>
         </div>
         <input type="submit" value="Отправить" />
     </form> 
</div>
</body>
</html>