@model Domain.Models.Board

@{
    Layout = "_layout";
}

<style type="text/css">
       .block1 { 
        width: 600px; 
        height: 500px;
        
        border: solid 1px black; 
        float: left;
       }
</style>

<div class="fixed-top">
    <h2>The Board</h2>
    <div class="container">
        @{
            foreach (var sticker in Model.Content.Stickers)
            {
                <span class="border border-danger">
                    Sticker: @sticker.Content.Text
                </span>   
            }
        }
    </div>
    
</div>