@model Domain.Models.Board

@{
    Layout = "_layout";
}

<style type="text/css">
       .block1 { 
        width: 600px; 
        height: 500px;
        
        border: solid 1px black; 
        float: left;
       }
</style>

<div class="fixed-top">
    <h2>Доска ID: @Model.Id</h2>
    <div class="container">
            @{
                var content = Model.Content;
                var stickers = content.Stickers;
                var first = stickers.First();
                var stickerContent = first.Content;
                var text = stickerContent.Text;
                <span class="border border-danger">
                    Content.Text: @Model.Content.Stickers.First().Content.Text
                </span>
                
            }
        </div>
    
</div>

