@model Domain.Models.Board.Board

@{
    Layout = "../_layout";
}
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/overcast/jquery-ui.css" />
 
@section Auth {
    @{
        if (User.Identity.IsAuthenticated)
        {
            <div>
                <form action="/logout">
                    @User.Identity.Name
                    <button type="submit" class="btn btn-link">Logout</button>
                </form>
            </div>
        }
        else
        {
            <form action="/login">
                <button class="w-80 btn btn-lg btn-light" type="submit">Sign in</button>
            </form>
            <form action="/register">
                <button class="w-80 btn btn-lg btn-primary" type="submit">Sign up</button>
            </form>
        }
    }
}
 
<form action="/">
    <button type="submit" class="btn btn-success">Home</button>
</form>
 
<div>
    <h2>The Board</h2>
    <div class="container">
        @{
            foreach (var sticker in Model.Content.Stickers)
            {
                if (sticker.Content.Text != null)
                {
                    <div class="align-baseline">
                        <div class="col-4 themed-grid-col">
                            <div class="p-3 border bg-light">
                                @sticker.Content.Text
                            </div>
                        </div>
                    </div>
                    <br>
                }
                else if (sticker.Content.TimeTable != null)
                {
                    var table = sticker.Content.TimeTable;
                    <div class="align-baseline">
                    <div class="col-2 themed-grid-col">
                        <!--<div class="p-3 border bg-light">-->
                        <div class="table table-dark table-striped">
                            <table border="2">
                                @{
                                    foreach (var row in table)
                                    {
                                        if (row.Any(x => x != null))
                                        {
                                            <tr>
                                                @{
                                                    foreach (var cell in row)
                                                    {
                                                        if (cell == null)
                                                        {
                                                            continue;
                                                        }
                                                        <td>
                                                            @cell
                                                        </td>
                                                    }
                                                }
                                            </tr>
                                        }
                                    }
                                }
                            </table>
                        </div>
                    </div>
                    </div>
                    <br>
                }
            }
        }
    </div>

    <form action="@Context.Request.Path.ToString().Replace("board", "edit")" method="get">
       <button>EDIT</button>
      </form>
</div>