@{
    Layout = "../_layout";
}

@section Auth {
    @{
        if (User.Identity.IsAuthenticated)
        {
            <div>
                <form action="/logout">
                    @User.Identity.Name
                    <button type="submit" class="btn btn-link">Logout</button>
                </form>
            </div>
        }
        else
        {
            <form action="/login">
                <button class="w-80 btn btn-lg btn-light" type="submit">Sign in</button>
            </form>
            <form action="/register">
                <button class="w-80 btn btn-lg btn-primary" type="submit">Sign up</button>
            </form>
        }
    }
}

<form action="/">
    <button type="submit" class="btn btn-success">Home</button>
</form>

<div class="row mx-md-n3">
    <div class="col px-3">
        <div class="p-3 border bg-light">
            Create Board
        </div>
    </div>
    
    <div class="col px-md-3">
        <form action="/new" method="GET">
            <input class="btn btn-primary btn-lg active" type="submit" value="+">
        </form>
    </div>
    
</div>
