@{
    Layout = "_layout";
}

<h1>
    <p>
        <form action="/new" method="GET">
            <input class="btn btn-primary btn-lg active" type="submit" value="Create">
        </form>
    </p>
</h1>