@model Domain.ViewModels.RegisterModel

@{
    Layout = "../_layout";
}
<body class="text-center">
<form action="/">
    <button type="submit" class="btn btn-success">Home</button>
</form>
<main class="form-signin">
    <form method="post">
        <h1 class="h3 mb-3 fw-normal">Sign up</h1>
        <label for="inputEmail" class="visually-hidden">Login</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Login" required autofocus name="login">
        <label for="inputPassword" class="visually-hidden">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
    </form>
</main>
</body>
